# https://docs.docker.com/engine/reference/builder/#dockerignore-file
**

# Install script runs within Docker
!build-bin/maven/maven_build
!build-bin/maven/maven_build_or_unjar
!build-bin/maven/maven_unjar

# Allow on-demand "mvn package"
!**/src/main/**
!**/pom.xml

# Allow re-use of built artifacts when using "mvn package"
!./module/target/zipkin-module-*-module.jar
