# https://docs.docker.com/engine/reference/builder/#dockerignore-file
**
# Install script runs within Docker
!docker/bin/install.sh

# Allow re-use of built artifacts when building docker from master or a release tag
!./module/storage-stackdriver/target/zipkin-module-storage-stackdriver-*-module.jar